
header {
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-image: url('../../assets//img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    min-height: 695px;
}

.description {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description p {
    font-size: 2rem;
    margin: 0;
}

.roadmap {
    padding: 50px 0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h3 {
    font-size: 30px;
}

.info ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 30px;
    margin: 0;
}

.info ul li {
    position: relative;
    padding-left: 20px;
}

.info ul li::before {
    content: "•"; /* Добавляем свой маркер */
    position: absolute;
    left: 0;
    color: #000; /* Цвет маркера */
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.links img {
    height: 40px;
    width: 40px;
}

