header {
    background-color: #0a0a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-image: url('../../assets//img/header-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    min-height: 695px;
    border-top: 1px solid #333;
}

.description {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description p {
    font-size: 2rem;
    margin: 0;
}

.roadmap {
    position: relative;
    padding: 50px 0;
    background-color:#0a0a0a;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info h3 {
    font-size: 30px;
    color: #fff;
}

.info ul {
    list-style-type: none; /* Убираем стандартные маркеры списка */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
}

.info ul li {
    position: relative;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.info ul li span {
    color: #fff;
}

.info ul li::before {
    content: "•"; /* Добавляем свой маркер */
    position: absolute;
    left: 0;
    color: #ffffff; /* Цвет маркера */
    font-size: 1.5rem; 
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.links img {
    height: 40px;
    width: 40px;
}

.roadmap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background-color: #333;
}

.roadmap::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color: #333;
}

/* Media */

@media (max-width: 640px) {
    header {
        background-size: 75%;
        padding: 0;
    }

    .description p {
        font-size: 1.5rem;
    }

    .description h2 {
        font-size: 1rem;
    }

    .info h3 {
        font-size: 25px;
    }

    .info ul li span {
        font-size: 15px
    }
}

@media (max-width: 540px) {
    header {
        background-size: 75%;
    }

    .description p {
        font-size: 22px;
    }

    .description h2 {
        font-size: 14px;
    }

    .info h3 {
        font-size: 22px;
    }

    .info ul li span {
        font-size: 12px
    }
}

@media (max-width: 475px) {
    header {
        background-size: 75%;
    }

    .description p {
        font-size: 20px;
    }

    .description h2 {
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    header {
        background-size: 75%;
        min-height: 550px;
    }

    .description p {
        font-size: 18px;
    }

    .description h2 {
        font-size: 12px;
    }

    .info h3 {
        font-size: 18px;
    }

    .info ul li span {
        font-size: 10px;
    }
}



/* Media */