
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 230px;
    background-color: #0a0a0a;
    border-bottom: 1px solid #333;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 {
    color: white;
    font-weight: 800;
    font-size: 25px;
}


.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

.info ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    color: white;
}

.info ul li {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: opacity 0.2s ease;
}

a:hover {
    opacity: 0.7;
}

.active::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    display: block;
    height: 2px;
    width: 50%;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.light, .dark {
    width: 20px;
    height: 20px;
}

.light, .dark {
    width: 20px;
    height: 20px;
}
