
/* DarkMode */

.dark, .light {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 100px;
    min-height: 700px;
}

.dark {
    background-color: #0a0a0a;
    color: rgb(255, 255, 255);
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.light {
    background-color: #E5E5E5;
    /* border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb; */
    /* border-bottom: 2px solid rgb(117, 115, 115); */
}

/* DarkMode */

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: row; /* Автоматическое размещение элементов по строкам */
    justify-items: center; /* Центрирование элементов в колонках */
}

.project img {
    max-width: 500px;
    max-height: 215px;
}

/* Media */

@media (max-width: 1650px) {
    .projects {
        gap: 7px;
    }
}

@media (max-width: 1200px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        justify-items: center;
    }
}

@media (max-width: 900px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 640px) {
    .dark, .light {
        padding: 20px 50px;
    }
}

/* @media (max-width: 450px) {
    .dark, .light {
        padding: 20px 50px;
    }
} */


/* Media */