.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 40px;
    min-height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* DarkMode */

.contacts.dark {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: #0a0a0a;
}

.contacts.dark h1 {
    color: #9b9b9b;
}

.contacts.dark p {
    color: #666666;
}

.contacts.light {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #E5E5E5;
}

/* DarkMode */

.contacts h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

.contacts div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contacts p {
    font-size: 2rem;
    margin: 0;
    color: #555;
}

.contacts span {
    font-size: 1rem;
    color: #777;
}

.contacts a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease;
}

.contacts a:hover {
    color: #0056b3;
}

/* Media */

@media (max-width: 640px) {
    .contacts h1 {
        font-size: 2rem;
    }

    .contacts p {
        font-size: 1.5rem;
    }

    .contacts span {
        font-size: 0.8rem;
    }
}

/* Media */